<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../utils/datatables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../utils/datatables/extensions/Select/css/select.dataTables.min.css">
    <link rel="stylesheet" href="../utils/datatables/extensions/Responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="../utils/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="../js/vue/vue-treeselect/dist/vue-treeselect.min.css">
    <link rel="stylesheet" href="../css/form-style.css">
    <script src="../js/jquery/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/html5shiv/html5shiv.min.js"></script>
    <script src="../js/respond/respond.min.js"></script>
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/vue/vue-treeselect/dist/vue-treeselect.min.js"></script>
    <script src="../utils/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../utils/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="../utils/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="../utils/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
    <script src="../utils/datatables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="../js/admin-system/get-list.js"></script>
    <script src="../js/admin-system/change-list.js"></script>
    <script src="../js/admin-system/default-attribute.js"></script>
    <script>
        $(function () {
            var rSolutionList = getReportSolutionList();
            var devTypeList = getDevTypeList();
            var coverList = getReportSolutionCover();
            console.log(rSolutionList);
            console.log(devTypeList);
            console.log(coverList);
            for(i in rSolutionList){
                rSolutionList[i].createTime = _getDate(rSolutionList[i].addtime);
                devTypeInfo = getDevType(rSolutionList[i].devTypeID);
                rSolutionList[i].devTypeName = devTypeInfo.typeName;
            }
            var testSolutionInfo;

            Vue.component('treeselect', VueTreeselect.Treeselect);
            // var selDevType = new Vue({
            //     el: '#type',
            //     data: {
            //         // define default value
            //         value: null,
            //         // define options
            //         options: devTypeList,
            //         normalizer(node) {
            //             return {
            //                 id: node.typeID,
            //                 label: node.typeName,
            //                 children: node.children
            //             }
            //         }
            //     },
            //     methods:{
            //         setValue:function (newvalue) {
            //             this.value = newvalue;
            //         }
            //     }
            // });
            var selCover = new Vue({
                el: '#cover',
                data: {
                    // define default value
                    value: null,
                    // define options
                    options: coverList,
                    normalizer:function (node) {
                        return {
                            id: node.proID,
                            label: node.proName,
                            children: node.children
                        }
                    }
                },
                methods:{
                    setValue:function (newValue) {
                        this.value = newValue;
                    }
                }
            });

            $(".container-fluid").css("height", $(window).height()+"px");

            $("#table").DataTable({
                order: [[ 5, "desc" ]],
                select: true,
                scrollY: '300px',
                scrollCollapse: "true",
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                data: rSolutionList,
                columns:[
                    {data: "soluID", title: "模板编号", defaultContent:""},
                    {data: "soluName", title: "模板名称", defaultContent:""},
                    {data: "devTypeName", title: "设备类型", defaultContent:""},
                    {data: "coverName", title: "模板封面", defaultContent:""},
                    {data: "userRealName", title: "创建人", defaultContent:""},
                    {data: "createTime", title: "创建时间", defaultContent:""},
                ]
            });

            $("#table").click(function (ev) {
                var ev = ev || event;
                var aTd = ev.target.parentNode.children;
                console.log(aTd);

                var options = {
                    'soluID': parseInt(aTd[0].innerHTML)
                };
                testSolutionInfo = getTestSolutionInfo(options);
                console.log(testSolutionInfo);

                $("#id").val(testSolutionInfo.soluID);
                $("#name").val(testSolutionInfo.soluName);
                var typeName = getDataDevType(testSolutionInfo.devTypeID,devTypeList);
                console.log(typeName);
                $("#devType").val(typeName);
                // selDevType.setValue(testSolutionInfo.devTypeID);
                if(testSolutionInfo.coverID != -1 ){
                    selCover.setValue(testSolutionInfo.coverID);
                }
            });

            $("#updaterSolution").click(function () {
                if(!$("#id").val()){
                    alert("请先选择模板");
                }else if(!$("#name2").val()){
                    alert("名称不能为空！");
                }else if(!selDevType.value){
                    alert("设备类型不能为空！");
                }else {
                    var coverName;
                    for(i in coverList){
                        if(selCover.value === coverList[i].proID){
                            coverName = coverList[i].proName;
                        }
                    }
                    var options = {
                        'soluID': $("#id").val(),
                        'coverID': selCover.value,
                        'coverName': coverName
                    };
                    var res = addCover(options);
                    if(res.code === 101){
                        alert(res.message);
                        window.location.reload();
                    }else if(res.code === 5004){
                        alert(res.message);
                        window.location.href = '../admin-login-register/login.html'
                    }else{
                        alert(res.message);
                    }
                }
            });
            $("#delSolution").click(function () {
                if(!$("#id").val()){
                    alert("请先选择方案");
                }else{
                    var option = {
                        'soluID': $("#id").val()
                    };
                    var res = delTestSolution(option);
                    if(res.code === 101){
                        alert(res.message);
                        window.location.reload();
                    }else if(res.code === 5004){
                        alert(res.message);
                        window.location.href = '../admin-login-register/login.html'
                    }else{
                        alert(res.message);
                    }
                }
            });

            $("#previewCover").click(function () {
               if(!selCover.value){
                   alert("请先选择封面");
               }else {
                   $("#preview").css("display","block");
                   var left = $(window).width()/2 -  $("#preview").width()/2;
                   var top = $(window).height()/2 -  $("#preview").height()/2;
                   $("#preview").css("left",left + "px");
                   $("#preview").css("top",top + "px");

                   var html = '';
                   html += '<iframe src="../admin-frame-management/pdfJS/web/viewer.html?file=';
                   html += encodeURIComponent(getResearchUrl()+'/project/getPdf?proID='+selCover.value);
                   html += '" width="100%" height="365px" security="restricted" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe>';
                   console.log(html);
                   $(".preview-cover").html(html);
               }
            });
            $("#cancel-btn").click(function () {
                $("#preview").css("display","none");
            });

            $("#prerSolution").click(function () {
                if(!$("#id").val()){
                    alert("请先选择报告");
                }else {
                    var options = {
                        'soluID': $("#id").val()
                    };
                    var pros = getReportPreView(options);
                    console.log(pros);

                    var optionurl = {
                        'proIDs': JSON.stringify(pros),
                        'fname': $("#name").val()+'模板预览'
                    };

                    $("#previewReport").css("display","block");
                    var left = $(window).width()/2 -  $("#previewReport").width()/2;
                    var top = $(window).height()/2 -  $("#previewReport").height()/2;
                    $("#previewReport").css("left",left + "px");
                    $("#previewReport").css("top",top + "px");

                    var html = '';
                    html += '<iframe src="../admin-frame-management/pdfJS/web/viewer.html?file=';
                    html += encodeURIComponent(getResearchUrl()+'/project/listPdf?proIDs='+pros+'&fname='+$("#name").val()+'模板预览');
                    html += '" width="100%" height="365px" security="restricted" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe>';
                    console.log(html);
                    $(".preview-report").html(html);
                }
            });
            $("#cancel").click(function () {
                $("#previewReport").css("display","none");
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="bacc"></div>
        <div class="title col-xs-6 col-sm-6">
            报告模板列表
        </div>
        <button class="btn btn-primary float-right" id="prerSolution">预览模板</button>

    </div>
    <div class="row simple-bacc">
        <div class="col-xs-12 col-sm-12 table-background">
            <table class="table table-responsive table-bordered table-hover" id="table">
            </table>
        </div>
    </div>
    <div class="row info-body simple-bacc">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group input-class">
                <span class="input-group-addon" id="editpsolutionID">模板编号</span>
                <input id="id" type="text" class="form-control" placeholder="模板编号" aria-describedby="editpsolutionID" readonly>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group input-class">
                <span class="input-group-addon" id="editpsolutionName">模板名称</span>
                <input id="name" type="text" class="form-control" placeholder="模板名称" aria-describedby="editpsolutionName" readonly>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group input-class">
                <span class="input-group-addon" id="selDevtype">设备类型</span>
                <input id="devType" type="text" class="form-control" placeholder="模板名称" aria-describedby="selDevtype" readonly>
                <!--<treeselect-->
                        <!--v-model="value"-->
                        <!--:options="options"-->
                        <!--:normalizer="normalizer"-->
                        <!--:disable-branch-nodes="true"-->
                        <!--:show-count="true"-->
                        <!--placeholder="请选择"-->
                        <!--id="type"-->
                        <!--aria-describedby="selDevtype"-->
                        <!--aria-readonly="true"-->
                <!--/>-->
                <!--<pre class="result">{{ value }}</pre>-->
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group input-class">
                <span class="input-group-addon" id="editseltestsolution">模板封面</span>
                <treeselect
                        v-model="value"
                        :options="options"
                        :normalizer="normalizer"
                        :disable-branch-nodes="true"
                        :show-count="true"
                        placeholder="请选择"
                        id="cover"
                        aria-describedby="editseltestsolution"
                />
                <pre class="result">{{ value }}</pre>
            </div>
        </div>
    </div>
    <div class="row info-foot simple-bacc">
        <div class="col-xs-12">
            <div class="col-xs-4">
                <button class="btn btn-primary col-xs-8 col-xs-push-2" id="updaterSolution">保存更改</button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary col-xs-8 col-xs-push-2" id="delrSolution">删除模板</button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary col-xs-8 col-xs-push-2" id="previewCover">预览封面</button>
            </div>
        </div>
    </div>
</div>
<!--新建panel-->
<div class="panel panel-primary" id="preview">
    <div class="panel-heading">
        <div class="panel-title">预览模板</div>
    </div>
    <div class="panel-body preview-cover">

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary float-right" id="cancel-btn">退出</button>
    </div>
</div>

<div class="panel panel-primary" id="previewReport">
    <div class="panel-heading">
        <div class="panel-title">预览模板</div>
    </div>
    <div class="panel-body preview-report">

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary float-right" id="cancel">退出</button>
    </div>
</div>
</body>
</html>